html,
body {
    height: 100%;
    font-family: 'Muli', 'Arial', 'sans-serif';
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 40px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.row {
    text-align: center;
}
.jumbotron {
    background-color: #2fb077;/* Lighter green */
    color: #fff;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.app-logo {
    background: transparent url('../img/app-logo.png') no-repeat top center;
    width: 324px;
    height: 324px;
    display: block;
    text-indent: -9999px;
}
#social-outer {
    background-color: #f3f0f2;
}
.social {
    background: transparent url('../img/social.png') no-repeat bottom center;
    width: 400px;
    height: 177px;
    display: block;
    margin: 20px auto;
    text-indent: -9999px;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse {
  background-color: #166341;
}
.no-style {
    list-style: none;
    list-style-type: none;
}
h4 {
    font-size: 3em;
}